@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

.navbar {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 0;
  left: 0;
  background: #1690a7;
}
.logo {
  position: fixed;
  right: 48%;
}
.navbar .logo {
  width: 200px;
  height: auto;
}
.navbar ul {
  position: fixed;
  right: 50px;
  float: right;
  height: 50px;
}
.navbar ul li {
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  transition: 0.4s;
}

.search {
  position: fixed;
  top: 2rem;
  left: 15px;
}
.row {
  position: fixed;
  top: 2rem;
  left: 280px;
  width: 10%;
}
.table {
  position: fixed;
  bottom: 60%;
  left: 13.4%;
}
.table {
  position: fixed;
  height: 80%;
  width: 100%;
  top: 20%;
  left: 0;
  background: rgba(253, 253, 253, 0.822);
  width: 100% !important;
}
.sms {
  position: fixed;
  top: 44rem;
  left: 1200px;
}
.report {
  position: fixed;
  top: 44rem;
  left: 1265px;
}
.Log {
  position: fixed;
  top: 44rem;
  left: 1380px;
}
.media {
  position: fixed;
  color: #1690a7;
  font-size: 30px;
  margin: 20px;
  padding-top: 42rem;
  left: 10px;
}
.time {
  position: fixed;
  height: 2rem;
}
.time1 {
  position: fixed;
  height: 2rem;
}
.back {
  position: fixed;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  background: rgba(253, 253, 253, 0.822);
  width: 100% !important;
}
